includes:
	- vendor/phpstan/phpstan-deprecation-rules/rules.neon
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/phpstan/phpstan-nette/rules.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
	ignoreErrors:
		- '#^Only booleans are allowed in a negated boolean, mixed given\.$#'

		# Ignore bad php behavior - should not happen
		- message: '#\|false given\.$#'
		  path: %currentWorkingDirectory%/src/Tracy/BlueScreen/ValidationBlueScreen.php
