parameters:
	ignoreErrors:
		- '#^Only booleans are allowed in a negated boolean, mixed given\.$#'

		# Ignore bad php behavior - should not happen
		- message: '#\|false given\.$#'
		  path: %currentWorkingDirectory%/src/Tracy/BlueScreen/ValidationBlueScreen.php
